.item img {
  width: 64px;
}
.item {
  margin: 0px 15px;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .item img {
    width: 30px;
  }
  .box1 {
    font-size: 10px;
  }
  .box2 {
    height: 170px;
  }
}

.box2 {
  height: 450px;
}
