.box12 {
  white-space: nowrap;
  overflow: hidden;
  max-width: 20ch;
}

@media only screen and (max-width: 992px) {
  .box12 {
    max-width: 30ch;
  }
}

@media only screen and (max-width: 758px) {
  .box12 {
    max-width: 60ch;
  }
}
