.box5 {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0px 0px;
    padding: 0px 15px;
}

.box6 {
    font-size: 50px;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

