.navitems {
  padding: 12px;
}

.navitemsbuttons {
  padding: 10px;
  float: right;
}

.btncst {
  width: 130px;
  height: 40px;
  float: right;
}

.mobileSize {
  display: none;
}

.searchbar {
  padding: 10px;
  float: left;
}

.searchbarlength {
  width: 460px;
}

.iconImage {
  width: 60px;
  height: 65px;
  margin-left: 200px;
}

.navicon {
  color: white;
}

.cartbtn {
  cursor: pointer;
}

.nvbtn {
  color: white;
  background-color: #2874f0;
  border: none;
}

@media only screen and (max-width: 1055px) {
  .iconImage {
    width: 60px;
    height: 65px;
    margin-left: 20px;
    margin-bottom: 0px;
  }
  .searchbarlength {
    display: none;
  }
  .btncst {
    display: none;
  }
  .navicon {
    margin-left: 20px;
  }
  .mobileSize {
    display: inline;
  }
}

@media only screen and (max-width: 640px) {
  .iconImage {
    width: 60px;
    height: 65px;
    margin-left: 20px;
    margin-bottom: 0px;
  }
  .searchbarlength {
    display: none;
  }
  .btncst {
    display: none;
  }
  .navicon {
    margin-left: 20px;
  }
  .mobileSize {
    display: inline;
  }
}
